<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="CSS/home.css">
    <link rel="stylesheet" href="CSS/show.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="http://localhost:8080" class="">Home</a></li>
            <li><a href="/show">Show</a></li>
        </ul>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Control</th>
                </tr>

            </thead>
            <tbody>

               <%  Student.forEach((e) =>{%>
                <tr>
                    <td><%- e._id %></td>
                    <td><%- e.name %></td>
                    <td><%- e.email %></td>
                    <td>
                        <a href="/edit/<%= e._id %>">
                            <span class="blue">View</span>

                        </a>
                        <a href="#">
                            <span class="pink">Delete</span>
                        </a>
                    </td>
                </tr>
           <%  }) %>
           
            </tbody>
        </table>
    </div>

    
</body>
</html>